server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:

        # ===================== STATS =====================
        - id: stats-service
          uri: lb://stats-server
          predicates:
            - Path=/hit/**,/stats/**


        # ===================== COMMENTS =====================
        - id: comments-service
          uri: lb://comments
          predicates:
            - Path=
              /comments/**,
              /*/events/*/comments/**,
              /*/comments/**,
              /top/**


        # ===================== REQUESTS =====================
        - id: requests-service
          uri: lb://requests
          predicates:
            - Path=
              /users/*/requests/**,
              /users/*/events/*/requests/**


        # ===================== USERS =====================
        - id: users-service
          uri: lb://users
          predicates:
            - Path=/admin/users/**


        # ===================== EVENTS =====================
        - id: events-service
          uri: lb://events
          predicates:
            - Path=
              /admin/events/**,
              /events/**,
              /admin/compilations/**,
              /compilations/**,
              /admin/categories/**,
              /categories/**,
              /users/*/events/**

logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.cloud.gateway.route: INFO