server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:

        - id: stats-service
          uri: lb://stats-server
          predicates:
            - Path=/hit/**,/stats/**

        - id: requests
          uri: lb://requests
          predicates:
            - Path=/users/*/requests/**

        - id: comments
          uri: lb://comments
          predicates:
            - Path=/events/*/comments/**,/comments/**,/comments/top

        - id: users
          uri: lb://users
          predicates:
            - Path=/admin/users/**,/users/**

        - id: events
          uri: lb://events
          predicates:
            - Path=/admin/events/**,/events/**,/categories/**,/compilations/**

logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.cloud.gateway.route: INFO