server:
  port: 9090

spring:
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.PostgreSQLDialect
      how_sql: true
      format_sql: true
  sql:
    init:
      mode: always
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5431/ewm-stats
    username: dbuser
    password: 12345

logging:
  level:
    root: INFO